@charset "UTF-8";

/* ----- Grundstil för webbsidan ----- */

html {
    font-size: 16px;
}

html, body {
    height: 100%;
}

html, body, nav, header, main, aside, footer, article, section, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ----- Layout ----- */

body {
    background-color: #e1d5b7;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: grid;
    grid-template-columns: auto minmax(300px,1000px) 200px auto;
    grid-template-rows: min-content 100px auto 70px;
    grid-template-areas:
        ".      nav    nav    ."
        "header header header header"
        ".      main   aside  ."
        "footer footer footer footer";
}

/* ----- Utformning av navigeringen ----- */

nav {
    grid-area: nav;
    background-color: #ffffff;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 0.4rem;
}

nav a:link, nav a:visited {
    background-color: #000000;
    color: #FFFFFF;
}

nav a:hover, nav a:active {
    background-color: #303331;
    color: #e3eed7;
}

.thisPage {
    background-color: #1e39d0 !important;
}

/* ------ Slut på  navigering ----- */
#menuicon {
    display: -webkit-box;
    background-image: url(menuicon.png);
    width: 25px;
    height: 25px;
    cursor: pointer;
}

#menucheckbox {
    display: none;
}

#menucheckbox ~ ul {
    display: none;
}

#menucheckbox:checked ~ ul {
    display: flex;    
}

header {
    grid-area: header;
    background-color: #6f7072;
    color: white;
    padding: 10px;
}

header h3 {
    max-width: 1200px;
    margin: 0 auto;
}

main {
    grid-area: main;
    background-color: #ffffff;
    padding: 10px;
}

aside {
    grid-area: aside;
    background-color: #ffffff;
    padding: 10px;
}

footer {
    grid-area: footer;
    background-color: #d4d7da;
    padding:0%
}
