@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');


body {
    background-color: #ffc8ff;

}

.container {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1.5fr 1.6fr 1fr;
    grid-template-areas:
      "nav nav nav nav"
      "sidebar main main main"
      "sidebar main main main";
    grid-gap: 0.3rem;
    font-weight: 1000;
    text-transform: uppercase;
    color: #080808;
    text-align: center;
  }
  
  nav {
    background: #7f558b;
    grid-area: nav;
  }
  
  main {
    background: #ffc8ff;
    grid-area: main;
  }
  
  #sidebar {
    background: #ffc8ff;
    grid-area: sidebar;
  }
  

  li {
      list-style: none;
  }
  
  a {
    text-align: center;
    display: block;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    font-weight: bold;
    margin: 1rem;
    letter-spacing: 6px;
    font-size: 20px;
    color: #0a070a;
  }

  a:hover {
      color: #9d00c9;
      background-color: rgb(255, 236, 239);    
  }

  h3, p { 
    font-family: 'Zen Antique', serif;
    text-transform: initial;
    color: #221122;
    text-shadow: 5px 12px 20px #af0060;
    letter-spacing: 1px;
    text-align: center;
    line-break: auto;
  }

  h3 {
      font-size: 20px;
      text-transform: uppercase;
  }

  h2 {
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(255, 236, 239); 
  }

  p {
      font-size: 15px;
  }

  #sidebar img {
    width: 300px;
    margin-top: 10px;
    align-items: center;
  }
  
  @media only screen and (max-width: 550px) {
    .container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.4fr 0.4fr 2.2fr 1fr 1fr;
      grid-template-areas:
        "nav"
        "sidebar"
        "main";
    }
    #sidebar img {
        width: 250px;
        margin: 10px;
    }
  }
  